<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


  <form action="/csrfprotected" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Submit me</button>
  </form>
