<!DOCTYPE html>
<html>
  <head>
    <title>Just a regular website using double submit csrf protection</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
